In [1]:
import pickle
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import kde
import matplotlib.cm as cm
import seaborn as sns
import math

wbc3842_chr5_pre_impute_file = "./Inputs/PReLIM/Bovine/PReLIM.Sample.wbc3842_chr5__cord_sorted.bam.chr5.pickle"
wbc3842_chr5_pre_impute_matrices = pd.read_pickle(wbc3842_chr5_pre_impute_file)

In [2]:
wbc3842_chr5_imputed_cpg2_file = "./Inputs/PReLIM/Bovine/PReLIM.Sample.wbc3842_chr5__cord_sorted.bam.chr5_IMPUTED_CPG2.pickle"
wbc3842_chr5_imputed_cpg2 = pd.read_pickle(wbc3842_chr5_imputed_cpg2_file)

In [3]:
wbc3842_chr5_imputed_cpg3_file = "./Inputs/PReLIM/Bovine/PReLIM.Sample.wbc3842_chr5__cord_sorted.bam.chr5_IMPUTED_CPG3.pickle"
wbc3842_chr5_imputed_cpg3 = pd.read_pickle(wbc3842_chr5_imputed_cpg3_file)

In [4]:
wbc3842_chr5_imputed_cpg4_file = "./Inputs/PReLIM/Bovine/PReLIM.Sample.wbc3842_chr5__cord_sorted.bam.chr5_IMPUTED_CPG4.pickle"
wbc3842_chr5_imputed_cpg4 = pd.read_pickle(wbc3842_chr5_imputed_cpg4_file)

In [5]:
wbc3842_chr5_imputed_cpg5_file = "./Inputs/PReLIM/Bovine/PReLIM.Sample.wbc3842_chr5__cord_sorted.bam.chr5_IMPUTED_CPG5.pickle"
wbc3842_chr5_imputed_cpg5 = pd.read_pickle(wbc3842_chr5_imputed_cpg5_file)

In [6]:
print(list(wbc3842_chr5_pre_impute_matrices.keys())[0])

chr5_21600

In [7]:
print(len(list(wbc3842_chr5_pre_impute_matrices.keys())))

600762

In [8]:
wbc3842_chr5_pre_impute_matrices['chr5_22000']

    21919  21964
0     NaN    0.0
1     NaN    0.0
2     1.0    0.0
3     1.0    1.0
4     NaN    1.0
5     NaN    1.0
6     1.0    1.0
7     1.0    0.0
8     1.0    0.0
9     1.0    NaN
10    1.0    NaN
11    1.0    NaN
12    1.0    NaN
13    1.0    NaN
14    NaN    0.0
15    NaN    0.0
16    1.0    0.0
17    NaN    0.0
18    NaN    0.0
19    NaN    0.0
20    1.0    NaN
21    1.0    0.0
22    1.0    0.0
23    1.0    0.0
24    1.0    0.0
25    NaN    0.0
26    NaN    0.0
27    1.0    1.0
28    NaN    0.0
29    1.0    0.0
30    NaN    0.0
31    1.0    0.0
32    NaN    0.0
33    NaN    1.0
34    NaN    1.0
35    1.0    NaN
36    1.0    1.0
37    1.0    0.0
38    1.0    0.0
39    NaN    0.0
40    1.0    0.0
41    NaN    1.0
42    NaN    0.0
43    1.0    0.0
44    1.0    1.0
45    1.0    1.0
46    NaN    0.0
47    NaN    0.0
48    1.0    1.0
49    0.0    0.0

In [9]:
print(list(wbc3842_chr5_imputed_cpg2.keys())[20])

chr5_34800

In [10]:
wbc3842_chr5_imputed_cpg2['chr5_22000']

    21919  21964
0     1.0    0.0
1     1.0    0.0
2     1.0    0.0
3     1.0    1.0
4     1.0    1.0
5     1.0    1.0
6     1.0    1.0
7     1.0    0.0
8     1.0    0.0
9     1.0    NaN
10    1.0    NaN
11    1.0    NaN
12    1.0    NaN
13    1.0    NaN
14    1.0    0.0
15    1.0    0.0
16    1.0    0.0
17    1.0    0.0
18    1.0    0.0
19    1.0    0.0
20    1.0    NaN
21    1.0    0.0
22    1.0    0.0
23    1.0    0.0
24    1.0    0.0
25    1.0    0.0
26    1.0    0.0
27    1.0    1.0
28    1.0    0.0
29    1.0    0.0
30    1.0    0.0
31    1.0    0.0
32    1.0    0.0
33    1.0    1.0
34    1.0    1.0
35    1.0    NaN
36    1.0    1.0
37    1.0    0.0
38    1.0    0.0
39    1.0    0.0
40    1.0    0.0
41    1.0    1.0
42    1.0    0.0
43    1.0    0.0
44    1.0    1.0
45    1.0    1.0
46    1.0    0.0
47    1.0    0.0
48    1.0    1.0
49    0.0    0.0

In [11]:
wbc3842_chr5_imputed_cpg4['chr5_21700']

   21602  21624  21669  21692
0    1.0    1.0    0.0    1.0
1    1.0    1.0    NaN    0.0
2    NaN    NaN    NaN    0.0
3    1.0    1.0    1.0    NaN
4    1.0    1.0    1.0    0.0
5    1.0    1.0    NaN    0.0
6    1.0    1.0    0.0    1.0
7    1.0    1.0    NaN    1.0
8    1.0    1.0    NaN    1.0

In [12]:
wbc3842_chr5_pre_impute_matrices['chr5_21700'] # pre

   21602  21624  21669  21692
0    1.0    1.0    0.0    1.0
1    NaN    NaN    NaN    0.0
2    NaN    NaN    NaN    0.0
3    1.0    1.0    1.0    NaN
4    NaN    1.0    1.0    0.0
5    NaN    NaN    NaN    0.0
6    1.0    1.0    0.0    1.0
7    NaN    NaN    NaN    1.0
8    NaN    NaN    NaN    1.0

In [15]:
def matrices_to_dss_input(matrix_dictionary):
    # pos = coordinate
    # N = total number of reads
    # X = number of reads showing methylation
    headers = ['chr','pos', 'N', 'X']
    chromosomes = []
    coordinates = []
    counts_methylated = []
    reads = []

    for key, value in matrix_dictionary.items():
        cpg_coords = list(value.columns)
        transpose = value.to_numpy().transpose() 
        for i in range(len(cpg_coords)):
            
            chromosomes.append(key.split('_')[0])
            coordinates.append(cpg_coords[i] + 1)
            num_unmethylated = (transpose[i] == 0).sum()
            num_methylated = (transpose[i] == 1).sum()
            reads.append(num_methylated + num_unmethylated)
            counts_methylated.append(num_methylated)
        
    
    list_of_tuples = list(zip(chromosomes, coordinates, reads, counts_methylated))
    df = pd.DataFrame(list_of_tuples, columns=headers)
    
    return df

In [16]:
wbc3842_chr5_pre_imputation_df = matrices_to_dss_input(wbc3842_chr5_pre_impute_matrices)
wbc3842_chr5_pre_imputation_df[0:50]

     chr    pos   N   X
0   chr5  21552   1   1
1   chr5  21558   1   1
2   chr5  21603   3   3
3   chr5  21625   4   4
4   chr5  21670   4   2
5   chr5  21693   8   4
6   chr5  21738  15  14
7   chr5  21761  20  20
8   chr5  21806  20  17
9   chr5  21874  21  17
10  chr5  21891  28  26
11  chr5  21920  29  28
12  chr5  21965  43  12
13  chr5  22009  49  34
14  chr5  22032  54  46
15  chr5  22055  63  41
16  chr5  22099  66  62
17  chr5  22102  66  61
18  chr5  22121  72  61
19  chr5  22144  68  61
20  chr5  22212  75  54
21  chr5  22234  79  49
22  chr5  22256  76  64
23  chr5  22271  79  73
24  chr5  22278  78  65
25  chr5  22346  72  58
26  chr5  22369  64  62
27  chr5  22392  61  50
28  chr5  22415  47  37
29  chr5  22437  40  29
30  chr5  22451  33   0
31  chr5  22460  29  25
32  chr5  22483  25  19
33  chr5  22498  20  19
34  chr5  22505  22  16
35  chr5  22527  18  17
36  chr5  22530  16  15
37  chr5  22549  13   7
38  chr5  22572   6   5
39  chr5  22618   5   4
40  chr5  23409   1   1
41  chr5  23443   2   2
42  chr5  23475   2   2
43  chr5  23521  12  11
44  chr5  23531  13  13
45  chr5  23544  13  11
46  chr5  23557  19  14
47  chr5  23566  19  14
48  chr5  23579  19  16
49  chr5  23588  20  17

In [17]:
wbc3842_chr5_imputed_cpg2_df = matrices_to_dss_input(wbc3842_chr5_imputed_cpg2)
wbc3842_chr5_imputed_cpg3_df = matrices_to_dss_input(wbc3842_chr5_imputed_cpg3)
wbc3842_chr5_imputed_cpg4_df = matrices_to_dss_input(wbc3842_chr5_imputed_cpg4)
wbc3842_chr5_imputed_cpg5_df = matrices_to_dss_input(wbc3842_chr5_imputed_cpg5)

In [18]:
# making cpg_index as the index of the df
wbc3842_chr5_pre_imputation_df = wbc3842_chr5_pre_imputation_df.reset_index(drop=True).set_index('pos', drop=False)

# making cpg_index as the index of the df as imputed ones are not sorted
wbc3842_chr5_imputed_cpg2_df = wbc3842_chr5_imputed_cpg2_df.reset_index(drop=True).set_index('pos', drop=False)
wbc3842_chr5_imputed_cpg2_df.sort_index(inplace=True)

# making cpg_index as the index of the df as imputed ones are not sorted
wbc3842_chr5_imputed_cpg3_df = wbc3842_chr5_imputed_cpg3_df.reset_index(drop=True).set_index('pos', drop=False)
wbc3842_chr5_imputed_cpg3_df.sort_index(inplace=True)

# making cpg_index as the index of the df as imputed ones are not sorted
wbc3842_chr5_imputed_cpg4_df = wbc3842_chr5_imputed_cpg4_df.reset_index(drop=True).set_index('pos', drop=False)
wbc3842_chr5_imputed_cpg4_df.sort_index(inplace=True)

# making cpg_index as the index of the df as imputed ones are not sorted
wbc3842_chr5_imputed_cpg5_df = wbc3842_chr5_imputed_cpg5_df.reset_index(drop=True).set_index('pos', drop=False)
wbc3842_chr5_imputed_cpg5_df.sort_index(inplace=True)

In [20]:
# replacing pre-impute rows with imputed ones if available

wbc3842_chr5_pre_imputation_df.loc[wbc3842_chr5_pre_imputation_df['pos'].isin(wbc3842_chr5_imputed_cpg2_df['pos']), ['N', 'X']] = wbc3842_chr5_imputed_cpg2_df[['N', 'X']]
wbc3842_chr5_pre_imputation_df.loc[wbc3842_chr5_pre_imputation_df['pos'].isin(wbc3842_chr5_imputed_cpg3_df['pos']), ['N', 'X']] = wbc3842_chr5_imputed_cpg3_df[['N', 'X']]
wbc3842_chr5_pre_imputation_df.loc[wbc3842_chr5_pre_imputation_df['pos'].isin(wbc3842_chr5_imputed_cpg4_df['pos']), ['N', 'X']] = wbc3842_chr5_imputed_cpg4_df[['N', 'X']]
wbc3842_chr5_pre_imputation_df.loc[wbc3842_chr5_pre_imputation_df['pos'].isin(wbc3842_chr5_imputed_cpg5_df['pos']), ['N', 'X']] = wbc3842_chr5_imputed_cpg5_df[['N', 'X']]


wbc3842_chr5_replaced = wbc3842_chr5_pre_imputation_df
# df with cpgs having imputed reads replaced 
print(wbc3842_chr5_replaced.isna().sum())
wbc3842_chr5_replaced.head(30)

chr    0
pos    0
N      0
X      0
dtype: int64

        chr    pos    N   X
pos
21552  chr5  21552    1   1
21558  chr5  21558    1   1
21603  chr5  21603    8   8
21625  chr5  21625    8   8
21670  chr5  21670    4   2
21693  chr5  21693    8   4
21738  chr5  21738   20  19
21761  chr5  21761   20  20
21806  chr5  21806   30  27
21874  chr5  21874   29  25
21891  chr5  21891   32  30
21920  chr5  21920   50  49
21965  chr5  21965   43  12
22009  chr5  22009   66  51
22032  chr5  22032   72  64
22055  chr5  22055   73  51
22099  chr5  22099   76  72
22102  chr5  22102   84  79
22121  chr5  22121   84  73
22144  chr5  22144   85  78
22212  chr5  22212   79  58
22234  chr5  22234   84  54
22256  chr5  22256  100  88
22271  chr5  22271   99  93
22278  chr5  22278   98  85
22346  chr5  22346   75  61
22369  chr5  22369   74  72
22392  chr5  22392   72  61
22415  chr5  22415   47  37
22437  chr5  22437   40  29

In [22]:
wbc3842_chr5_replaced.to_csv("DSS_input.txt", sep="\t", index=False)